@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Raleway';
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #FFFFFF; /* White text color */
    background-color: #240F0A;
    background: url(/img/fon_se.jpg);
}

h1 {
    font-size: 3em; 
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #955422;
}

.header-tabla-contacto th {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #FFFFFF;
    background-color: #7D1911;
}

.header-tabla-contacto td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #111118;
    -moz-box-shadow: 0 2px 2px -2px #111118;
    box-shadow: 0 2px 2px -2px #111118;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

.header-tabla-contacto tr:nth-child(odd) {
    background-color: #190D13;
}

.header-tabla-contacto tr:nth-child(even) {
    background-color: #111118;
}

.header-tabla-contacto tr:hover {
    background-color: #955422;
    -webkit-box-shadow: 0 6px 6px -6px #111118;
    -moz-box-shadow: 0 6px 6px -6px #111118;
    box-shadow: 0 6px 6px -6px #111118;
}

.header-tabla-contacto td a {
    color: #FFFFFF; /* White text color */
}

.header-tabla-contacto td a:hover {
    color: #FFFFFF;
}

.header-tabla-contacto td.icono:hover {
    background-color: #7D1911;
    box-shadow: #240F0A -1px 1px, #240F0A -2px 2px, #240F0A -3px 3px, #240F0A -4px 4px, #240F0A -5px 5px, #240F0A -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

#qr-code {
    position: fixed;
    top: 50%; /* Posición verticalmente centrada */
    right: 20px; /* Distancia del borde derecho */
    transform: translateY(-50%); /* Centrar verticalmente */
    max-width: 50%; /* Ajusta el ancho según sea necesario */
    height: auto;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}


button {
    background-color: #CCCCCC; /* Color de fondo gris */
    border: 1px solid #AAAAAA; /* Borde delgado */
    color: black; /* Color de texto */
    padding: 5px 10px; /* Espacio alrededor del texto */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 10px; /* Tamaño de fuente */
    margin: 2px 1px; /* Margen externo */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    border-radius: 4px; /* Bordes ligeramente redondeados */
  }
  
  /* Cambiar color de fondo cuando el mouse pasa por encima */
  button:hover {
    background-color:#89822e; /* Color de fondo gris más claro */
  }
  
  /* Cambiar color de fondo cuando se presiona el botón */
  button:active {
    background-color: #89822e; /* Color de fondo gris oscuro */
  }