<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styleola.css">
    <title>Bienvenido</title>
</head>
<body>
  <div id="fondoBorroso"></div>
  <div id="verificacionEdad">
    <p>Eres mayor de edad?</p>

    <form action="/si" method="post">
      <button>si</button>
    </form>
    
    <form action="/no" method="post">
      <button>no</button>
    </form>
    <!-- <button onclick="verificarEdad('si')">Sí</button>
    <button onclick="verificarEdad('no')">No</button> -->
  </div>
</body>
<script src="/scriptola.js"></script>
</html>
