<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styleola.css">
    <link rel="icon" href="./img/LOGO.png" type="image/x-icon">

    <title>Bienvenido</title>
</head>
<body>


  <div id="fondoBorroso"></div>
  <div id="verificacionEdad">
    <p>Eres mayor de edad?</p>

    <form action="/si" method="post">
      <button type="submit">si</button>
    </form>
    
   <form action="/no" method="post">
      <button type="submit">no</button>
    </form> 
   
    
  </div>
</body>

<script src="/scriptola.js"></script>
</html>
