<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/style/login.css">
</head>

<body>

    <div class="form-box">
        <form class="form" action="/login_" method="post">
            <span class="title">Inicia Sesión</span>
            <div class="form-container">
                <input type="text" class="input" name="nombre_usuario" placeholder="Nombre">
                <input type="text" class="input" name="cc" placeholder="cc">
                <input type="password" class="input" name="contraseña" placeholder="Contraseña">
            </div>
            <button type="submit">Inicia Sesión</button>
            
            <% if (typeof mensaje !=='undefined' && mensaje) { %>
                <div class="mensaje">
                    <%= mensaje %>
                </div>
                <% } %>
        </form>
        <div class="form-section">
        </div>
    </div>
</body>

</html>