<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/style/login.css">
    <audio id="miAudio">
        <source src="/img/musica.mp3" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
      </audio>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
          var audio = document.getElementById('miAudio');
          audio.play();
        });
      </script>
          <link rel="icon" href="./img/LOGO.png" type="image/x-icon">
</head>

<body>

    <div class="form-box">
        <form class="form" action="/login_" method="post">
            <span class="title">Inicia Sesión</span>
            <div class="form-container">
                <input type="text" class="input" name="nombre_usuario" placeholder="Nombre">
                <input type="text" class="input" name="cc" placeholder="cc">
                <input type="password" class="input" name="contraseña" placeholder="Contraseña">
            </div>
            <button type="submit">Inicia Sesión</button>
            
            <% if (typeof mensaje !=='undefined' && mensaje) { %>
                <div class="mensaje">
                    <%= mensaje %>
                </div>
                <% } %>
        </form>
          <div>
            <form class="form" action="/salida" method="post"></form>
            <button class="form_button" onclick="window.location.href='/salida'">Salir</button>
            <style>
            .form_button {
              background-color: #0066ff;
              color: #fff;
              border: 0;
              
              border-radius: 24px;
              padding: 10px 16px;
              font-size: 1rem;
              font-weight: 600;
              cursor: pointer;
              transition: background-color .3s ease;
            }
            
            .form_button:hover {
              background-color: #005ce6;
            }
            </style>
        </div>
        <div class="form-section">
        </div>
    </div>
</body>

</html>