<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>

    <link rel="stylesheet" href="/style/formulario.css">
    <h1 class="form-container">
        <div class="form">
            <span class="heading">Formulario</span>
            <form action="/enviar" method="post">
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" value="<%= datos.nombre %>" readonly><br>
                <label for="servicio">Servicio:</label><br>
                <input type="text" id="servicio" name="servicio" value="<%= datos.servicio %>" readonly><br>
                <label for="servicio">Indicativo:</label><br>
                <input type="text" id="servicio" name="indicativo" value="<%= datos.indicativo %>" readonly><br>
                <label for="telefono">Número:</label><br>
                <input type="text" id="telefono" name="telefono" value="<%= datos.telefono %>" readonly><br>
                <label for="descripcion">Descripción:</label><br>
                <textarea id="descripcion" name="descripcion" rows="4" cols="50" class="textarea"></textarea><br>
                <div class="button-container">
                    <input type="submit" value="Enviar" class="send-button">
                    <div class="reset-button-container">
                        <div id="reset-btn" class="reset-button">Reset</div>
                    </div>
                </div>
            </form>
        </div>
    </h1>
    
    
</body>
</html>
