<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éxito</title>
    <link rel="icon" href="./img/LOGO.png" type="image/x-icon">
    <audio id="miAudio">
        <source src="/img/musica.mp3" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
      </audio>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
          var audio = document.getElementById('miAudio');
          audio.play();
        });
      </script>
</head>
<body>
    <div class="modal">
        <div class="modal-content">
            <h1>¡Consulta registrada con éxito!</h1>
            <p>Tu consulta se ha registrado correctamente. Serás redirigido a la página principal en unos segundos.</p>
        </div>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 3000); 
    </script>
</body>
</html>
