<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/servicios.css">
  
    <title>servicios</title>
</head>
<body>   
    <nav>
        <div id="portrait-frame">
            <img id="portrait" src="/img/LOGO.png" alt="LOGO">
            <h1 id="title" class="hf_text">AMARRESY HECHIZOS</h1>
        </div>

        <div id="nav-items">
            <input type="checkbox" id="nav-check">
            <div class="nav-icon">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <ul class="nav-links">
                <li><a href="/salida" class="nav_link_text">inicio</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="centrar">
        <div id="servicios" class="content-section">
            <% servicios.forEach(servicio => { %>
                <div class="card" style="background-image: url('<%= '../../img/' + servicio.img %>');">
                    <div class="card__content">
                        <p class="card__title"><%= servicio.nombre_servicio %></p>
                        <p class="card__description"><%= servicio.descripcion %></p>
                        <form action="/consulta_servicio" method="post">
                            <input type="hidden" name="id_servicio" value="<%= servicio.id_servicio %>">
                            <button type="submit">¡Consultar Ahora Gratis!</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
